In [2]:
import pandas as pd
import numpy as np
import random
from feature_utils import FeatureSelector, ColumnFeature

df = pd.DataFrame(

    {
        'num_1' : np.random.randn(1000),
        'num_2' : np.random.randint(0, 1000, 1000),
        'cat_1' : random.choices('abcdef', k=1000),
        'cat_2' : random.choices('gh', k=1000, weights = [.2, .8]),
        'cat_3' : random.choices('ijk', k=1000, weights = [0.05, .45, .50]),
        'cat_4' : random.choices('lmnopqrstuvwxyz0123456789', k=1000),
        'var_5' : random.choices([True, False], k=1000),
        'var_6' : random.choices([[10, 's', '2', 1], [50, 50, .2, 'q', 'w']], k=1000)
        }
)
df

        num_1  num_2 cat_1 cat_2 cat_3 cat_4  var_5                var_6
0   -1.248514    122     d     h     k     v   True        [10, s, 2, 1]
1   -0.564536    150     b     g     j     2   True        [10, s, 2, 1]
2   -1.929897    517     a     g     k     u   True  [50, 50, 0.2, q, w]
3   -0.345201    272     b     g     k     l   True        [10, s, 2, 1]
4   -0.187343    877     b     h     j     q  False  [50, 50, 0.2, q, w]
..        ...    ...   ...   ...   ...   ...    ...                  ...
995 -1.379873    158     a     h     k     w   True        [10, s, 2, 1]
996 -0.443466    568     f     g     j     p   True  [50, 50, 0.2, q, w]
997 -0.920531    111     e     h     k     r  False  [50, 50, 0.2, q, w]
998 -0.676125    485     a     g     k     1  False  [50, 50, 0.2, q, w]
999  1.522605    555     e     h     j     p   True  [50, 50, 0.2, q, w]

[1000 rows x 8 columns]

In [4]:
fs_num = FeatureSelector('numeric')
fs_num.fit_transform(df)

        num_1  num_2  var_5
0   -1.248514    122   True
1   -0.564536    150   True
2   -1.929897    517   True
3   -0.345201    272   True
4   -0.187343    877  False
..        ...    ...    ...
995 -1.379873    158   True
996 -0.443466    568   True
997 -0.920531    111  False
998 -0.676125    485  False
999  1.522605    555   True

[1000 rows x 3 columns]

In [3]:
def multiply_by_2(x):
    return x * 2

cf_m2 = ColumnFeature(multiply_by_2)

cf_m2.fit_transform(df['num_1'])

0     -2.497028
1     -1.129072
2     -3.859794
3     -0.690402
4     -0.374687
         ...
995   -2.759746
996   -0.886933
997   -1.841063
998   -1.352250
999    3.045210
Name: num_1, Length: 1000, dtype: float64